*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(imagens/Space-red-galaxy-stars_2560x1600.jpg);
    background-size: cover;
    zoom: 90%;
}

#navbar{
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #1e1e1e;
    justify-content: space-between;
}

.logo{
    width: 148px;
    height: 33px;
    top: 50%;
    margin-top: 15px;
    margin-left: 10px;

}


.busca{
    position: relative;
    display: inline-block;
    top: 25%;
}

.caixa{
    margin-right: 100px;
    width: 448px;
    height: 30px;
    border-radius: 27px;
    border: 0;
    padding-left: 10px;
    outline: none;
}

.lupa{
    margin-right: 100px;
    width: 23px;
    height: 23px;
    float: right;
    position: absolute;
    right: 8px;
    top: 5%;
}

footer{
    margin-top: 0px;
}

.fa-facebook-f:hover{
    color: #850000 !important;
}

.fa-twitter:hover {
    color: #850000 !important;
}

.fa-google:hover{
    color: #850000 !important;
}

.fa-instagram:hover{
    color: #850000 !important;
}

.fa-linkedin:hover{
    color: #850000 !important;
}

.fa-github:hover{
    color: #850000 !important;
}

.profile{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 20px;
}

.profile_img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    object-fit: cover;
}

.playlist_name{
    width: 1144px;
    height: 257px;
    left: 148px;
    top: 64px;
    background: linear-gradient(180deg, #FF0000 0%, #850000 72.13%);
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.playlist_img{
    width: 189px;
    height: 214px;
    margin: 0 auto;
}

.img_playlist{
    width: 189px;
    height: 189px;
    border-radius: 100%;
    object-fit: cover;
}

.nome_play{
    text-align: center;
    color: white;
}

.musicas .musicas_10 p{
    margin-bottom: 0;
}

.musicas{
    background-color: #1e1e1e;
    width: 1144px;
    height: 778px;
    margin: 0 auto;
    
}

@media screen and (max-width: 600px ) {
    nav .busca .caixa{
        width: 200px;
        margin-right: 0;
        
    }

    nav .busca .lupa{
        margin-right: 0;
    }
    
    nav .logo{
        width: 50%px;
    }

    nav .profile{
        display: none;
    }
    
    main .playlist_name{
        width: 400px;
    }

    main .musicas{
        width: 400px;
    }

    main .musicas .ancora .musicas_10{
        width: 400px;
    }

    main .musicas .ancora .musicas_10 .nome_album{
        display: none;
    }

    main .musicas .ancora .musicas_10 .nome_banda{
        display: none;
    }

    main .Nome_music{
        margin-top: 10px;
    }

    main .banner_music{
        gap: 0;
        flex-direction: column;

    }

    main .banner_img{
        object-fit: scale-down;
        width: auto;
    }

    main .texto_letra{
        width: auto;
    }

    main .div_bar .music_mini{
        display: none;
    }

    main .div_bar{
        margin-left: 10px;
    }

    main .div_bar .tempo_mini{
        display: flex;
    }

    footer .container{
        padding-right: 0;
        padding-left: 0;
    }

}

.musicas_10{
    width: 1144px;
    height: 78px;
    left: 148px;
    top: 321px;
    background: #1E1E1E;
    border-bottom: 1px solid #363030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto_musica{
    width: 63px;
    height: 63px;
    position: absolute;
}


.img_music{
    width: 63px;
    margin-left: 10px;
}

.nome_musica{
    margin-left: 100px;
    width: 286px;
}

.tempo{
    margin-right: 20px;
}

.nome_banda{
    width: 286px;
}

.nome_album{
    width: 286px;
}

.nome_musica, .nome_banda, .nome_album, .tempo{
    color: white;
}

.ancora{
    text-decoration: none;
    cursor: pointer;
}

.Nome_music{
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;
    font-size: 48px;
}

.Nome_Banda{
    color: #FF0000;
    text-align: center;
    font-size: 36px;
}

.banner_music{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    object-fit: scale-down;
}

.banner_img{
    width: 600px;
    height: 462px;
    object-fit: contain;
}

.letra{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    border: 0px;
    width: 79px;
    height: 21px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #850000;
    color: #FFFFFF;
    cursor: pointer;
}


.exibir .texto_letra{
    display: block;
}

.letra:hover{
    transform: scale(1.1);
    transition: 100ms linear;
}

.texto_letra{
    color: white;
    width: 479px;
    height: 462px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.576); 
    display: none;
    text-align: center;
}

.texto_letra::-webkit-scrollbar {
    width: 0px;
}

.div_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra{
    width: 1100px;
    height: 5px;
    border: 0px solid rgb(0, 0, 0);
    justify-content: flex-start;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #333;
}


progress {
    display:block;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background: rgb(255, 0, 0);
    border-radius: 50px;
    padding: 2px;
}

progress{
    height: 6px;
    width: 0%;
}

.ponto{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: -2px;
}

.music_mini, .tempo_mini{
    color: white;
}

.music_mini{
    margin-right: 3px;
    width: 152px;
    text-align: right;
    margin-top: 15px;
    
}

.tempo_mini{
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 15px;
    display: flex;
}


.icone_play{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 50px;
}

.prev{
    width: 65px;
    height: 65px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    
}

.next{
    width: 65px;
    height: 65px;
}



.playTeste{
    background-color: #850000;
    
}

#play{
    width: 100px;
    height: 100px;
}